.burger__main__app{
    display: flex;
    flex-direction: column;
}

.burger__builder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
.available__items{
    flex: 1;
}

.available__item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.order__details{
    text-align: center;
    flex: 1;
}


.dialog__modal{
    padding: 30px;
    text-align: center;
}
