.checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout__items{
    padding: 0 30px;
    text-align: center;
    


}

.checkout__item{
    display: flex;
    justify-content: center;
    align-items: center;
}
