.checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;

}

.checkout__items{
    padding: 0 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

}



.checkout__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;

}

@media only screen and (max-width:700px){
    .checkout__item{
        width: 100%;
        font-size: large;
    }
}



.order__data{
    margin: 2px 0;
    padding: 0;
}

.price{
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 10px;

}

.price:hover{
    border: 1px solid rgb(58, 152, 168);
    color: rgb(58, 152, 168);
}